.HomePartBox_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .HomePartBoxItem {
    width: 20%;
  }
  .img {
    width: 100%;
    height: auto;
    background-color: rgb(39, 102, 97);
    padding: 5px;
    border-radius: 25px;
    &:hover {
      background-color: rgb(51, 186, 175);
    }
  }
  .title {
    text-align: center;
    margin-top: 2px;
    font-weight: 500;
    color: rgb(51, 186, 175);
  }
}
